<div class="col-sm-3 col-sm-offset-1 blog-sidebar">

    <div class="sidebar-module">
        <form action="/tags/bsq" method="POST">
            <div class="form-group">
                <input type="text" name="busqueda" class="form-control" placeholder="Buscar por tags">
            </div>
        </form>
    </div><!-- /.sidebar-module -->

    <div class="sidebar-module">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Categorías</h4>
                <ol class="categories list-unstyled">
                    <li>
                        <a class="label label-light label-primary" href="/tagbsq/18">Fin de la pobreza</a>
                    </li>
                    <li>
                        <a class="label label-light label-warning" href="/tagbsq/67">Hambre Cero</a>
                    </li>
                    <li>
                        <a class="label label-light label-info" href="/tagbsq/68">Salud y Bienestar</a>
                    </li>
                    <li>
                        <a class="label label-light label-danger" href="/tagbsq/69">Educación de Calidad</a>
                    </li>
                    <li>
                        <a class="label label-light label-success" href="/tagbsq/70">Igualdad de Género</a>
                    </li>
                    <li>
                        <a class="label label-light label-primary" href="/tagbsq/71">Agua limpia y saneamiento</a>
                    </li>
                    <li>
                        <a class="label label-light label-warning" href="/tagbsq/72">Energía Limpia y asequible</a>
                    </li>
                    <li>
                        <a class="label label-light label-info" href="/tagbsq/73">Trabajo decente</a>
                    </li>
                    <li>
                        <a class="label label-light label-danger" href="/tagbsq/74">Ind. Innovación e infraestructura</a>
                    </li>
                    <li>
                        <a class="label label-light label-success" href="/tagbsq/75">Reducción de desigualdades</a>
                    </li>
                    <li>
                        <a class="label label-light label-primary" href="/tagbsq/76">Ciudades sostenibles</a>
                    </li>
                    <li>
                        <a class="label label-light label-warning" href="/tagbsq/77">Producción y consumo responsable</a>
                    </li>
                    <li>
                        <a class="label label-light label-info" href="/tagbsq/78">Acción por el clima</a>
                    </li>
                    <li>
                        <a class="label label-light label-danger" href="/tagbsq/79">Vida Submarina</a>
                    </li>
                    <li>
                        <a class="label label-light label-success" href="/tagbsq/80">Vida de ecosistemas terrestres</a>
                    </li>
                    <li>
                        <a class="label label-light label-primary" href="/tagbsq/81">Paz justicia e Instituciones solidas</a>
                    </li>
                    <li>
                        <a class="label label-light label-warning" href="/tagbsq/82">Alianzas para lograr objetivos</a>
                    </li>
                </ol>
            </div>
        </div>
    </div><!-- /.sidebar-module -->
    <div class="sidebar-module">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">Mayo 2017</a></li>

                </ol>
            </div>
        </div>
    </div><!-- /.sidebar-module -->

    <div class="sidebar-module">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Twitter</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.sidebar-module -->

</div><!-- /.blog-sidebar -->
</div><!-- /.row -->

</div><!-- /.container -->



<footer class="blog-footer">

    <div id="links">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <i class="material-icons brand">&#xE871;</i>
                    <p> Versión 1.3</p>
                </div>

                <div class="col-sm-8 text-center offset">
                    <ul class="list-inline">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Privacidad</a></li>
                        <li><a href="#">Documentation</a></li>
                    </ul>
                </div>

                <div class="col-md-2 text-right offset">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>

<button class="material-scrolltop primary" type="button"></button>
<!-- Modals -->
<div class="modal fade" id="aa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">Crear Post</h2>
            </div>
            <form action="/post/add" method="post" id="mform">
                <div class="modal-body">
                    <div id="preview"></div>
                    <div class="form-group">
                        <%  if(usr.tipo == 1){ %>
                                <select name="idobserva" class="form-control">
                                    <option value="" disabled selected>Seleccione un observatorio</option>
                        <%
                                    for(var j = 0; j<obs.length;j++){
                            %>
                                    <option value="<%= obs[j].idobservatorio%>"><%= obs[j].nom%></option>
                        <%

                                    }%>
                                    <option value="no">Sin observatorio</option>
                                </select>
                        <%
                            } else if(usr.tipo == 3){%>
                                <input name="idobserva" type="hidden" value="<%= obs[0].idobservatorio%>">
                        <%}%>

                        <input type="text" name="tit" id="t_princ" class="form-control" placeholder="" required>
                        <div class="input-group hidden" id="fail">
                            <input type="file" name="filetoupload" onchange="upload(this)">
                            <a class="input-group-btn btn btn-success">Sube una foto <i class="glyphicon glyphicon-upload"></i></a>
                        </div>
                        <select id="catego" class="form-control hidden" name="cat">
                            <option value="" disabled selected>Selecciona una categoría </option>
                            <option value="18">Fin de la Pobreza</option>
                            <option value="78">Acción por el Clima</option>
                            <option value="71">Agua limpia y saneamiento</option>
                            <option value="82">Alianzas para lograr Objetivos</option>
                            <option value="76">Ciudades y comunidades Sostenibles</option>
                            <option value="69">Educación de Calidad</option>
                            <option value="72">Energía asequible y no contaminante</option>
                            <option value="67">Hambre Cero</option>
                            <option value="70">Igualdad de Género</option>
                            <option value="74">Industria Innovación e infraestructura</option>
                            <option value="81">Paz justicia e Instituciones solidas</option>
                            <option value="77">Producción y consumo responsable</option>
                            <option value="75">Reducción de Desigualdades</option>
                            <option value="68">Salud y Bienestar</option>
                            <option value="73">Trabajo Decente y crecimiento económico</option>
                            <option value="80">Vida de Ecosistemas terrestres</option>
                            <option value="79">Vida submarina</option>
                        </select>
                        <textarea type="text" name="texto" class="hidden" id="editor"></textarea>
                    </div>
                </div>
                <div class="modal-footer">

                    <div class="form-group form-inline">

                        <input type='text' class='form-control' name='tags' id="tag" value="" placeholder="tags (Ej: tag1, tag2, tag3)">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" id="tipo" name="tipo" value=""  class="btn btn-primary">+ Post</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link href="/assets/css/jquery-te-1.4.0.css" rel="stylesheet">
<script src="/assets/js/jquery-te-1.4.0.min.js"></script>
<script src="/assets/js/ripples.min.js"></script>
<script src="/assets/js/material.min.js"></script>
<script src="/assets/js/material-scrolltop.js"></script>
<script src="/assets/js/main.js"></script>

<script type="text/javascript">
    var quill = false;

    $(document).on("click", ".poster", function() {
        var data = {};
        $("#t_princ").val("");
        $("#editor").val("");
        data.tipo = $(this).data('tipo');
        $(".modal-footer #tipo").val(data.tipo);
        switch(data.tipo) {
            case 1:
                $("#t_princ").attr("placeholder","Paz Mundial");
                $("#preview").html("");
                $("#fail").addClass("hidden");
                $("#t_princ").removeClass("hidden");
                break;
            case 2:
                $("#t_princ").attr("placeholder","Título");
                $("#fail").addClass("hidden");
                $("#preview").html("");
                $("#t_princ").removeClass("hidden");
                break;
            case 3:
                $("#preview").html("");
                $("#t_princ").attr("placeholder","Url Imagen");
                $("#t_princ").removeClass("hidden");
                $("#fail").removeClass("hidden");
                break;
            case 4:
                $("#preview").html("");
                $("#t_princ").attr("placeholder","Url Video (sólo youtube)");
                $("#fail").addClass("hidden");
                $("#t_princ").removeClass("hidden");
                break;
            default:
                status = "inactivo";
        }
        if(parseInt(data.tipo) > 1){
            $(".modal-body #catego").removeClass("hidden");
            if(!quill){
                $("#editor").jqte({
                    color: false,
                    source: false,
                    sub: false,
                    sup: false,
                    strike: false,
                    indent: false,
                    format: false,
                    outdent: false
                });
                quill = true;
            }
        } else {
            $(".modal-body #catego").addClass("hidden");
            if(quill){
                $("#editor").jqte({
                    color: false,
                    source: false,
                    sub: false,
                    sup: false,
                    strike: false,
                    indent: false,
                    format: false,
                    outdent: false
                });
            }
            quill = false;
        }
    });
    $(document).on("click", ".edit", function() {
        var data = {};
        data.tipo = $(this).data('tipo');
        $("#mform").attr('action','/post/edit/' + $(this).data('idpost'));
        $(".modal-footer #tipo").val($(this).data('tipo'));
        switch(data.tipo) {
            case 1:
                $("#t_princ").val($(this).data('tit'));
                $("#editor").val($(this).data('cont'));
                $("#tag").val($(this).data('tags'));
                break;
            case 2:
                $("#t_princ").val($(this).data('tit'));
                $("#editor").val($(this).data('cont'));
                break;
            case 3:
                $("#t_princ").val($(this).data('tit'));
                $("#editor").val($(this).data('cont'));
                break;
            case 4:
                $("#t_princ").val($(this).data('tit'));
                $("#editor").val($(this).data('cont'));
                break;
            default:
                status = "inactivo";
        }
        if(parseInt(data.tipo) > 1){
            $(".modal-body #catego").removeClass("hidden");
            if(!quill){
                $("#editor").jqte({
                    color: false,
                    source: false,
                    sub: false,
                    sup: false,
                    strike: false,
                    indent: false,
                    format: false,
                    outdent: false
                });
                quill = true;
            }
        } else {
            $(".modal-body #catego").addClass("hidden");
            if(quill){
                $("#editor").jqte({
                    color: false,
                    source: false,
                    sub: false,
                    sup: false,
                    strike: false,
                    indent: false,
                    format: false,
                    outdent: false
                });
            }
            quill = false;
        }
    });
    $.material.init();
    $('body').materialScrollTop();

    $(function () {
        $(".strim").click(function(e){
            var data = {};
            data.idpost = $("#idpst").val();
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/post_stream',
                success: function(data) {
                    $("#psts").append(data);
                    $("#idpst").val();
                }
            });
        });
        $('.laik').click(function(e){
            /*$.ajax({
             dataType: 'jsonp',
             data: "data=yeah",
             jsonp: 'callback',
             url: 'http://localhost:3000/endpoint?callback=?',
             success: function(data) {
             console.log('success');
             console.log(JSON.stringify(data));
             }
             });*/
            var data = {};
            data.idpost = $(this).data('id');
            var like = $(this);
            if(like.hasClass('laik')){
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/send_laik',
                    success: function(data) {
                        like.html('<i class="glyphicon glyphicon-thumbs-up"></i>' + data);
                        like.removeClass("laik");
                        like.addClass("laiked");
                    }
                });
            } else {
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: '/rm_laik',
                    success: function(data) {
                        like.html('<i class="glyphicon glyphicon-thumbs-up"></i>' + data);
                        like.removeClass("laiked");
                        like.addClass("laik");
                    }
                });
            }
            e.preventDefault();
            /*$.ajax('http://localhost:3000/endpoint', {
             type: 'POST',
             data: JSON.stringify(data),
             contentType: 'application/json',
             success: function() { console.log('success');},
             error  : function() { console.log('error');}
             });*/
        });

    });
    $(".blog-post-meta :input.hidden").each(function (j) {
        var tagger = $(this).val();
        var idpost = "#" + $(this).data('id');
        tagger = tagger.split(",");
        for(var i = 0; i < tagger.length;i++){
            if(tagger[i] != "null") {
                $(idpost + " .blog-post-meta").append('<span class="label label-light label-primary">' + tagger[i] + '</span> ');
            } else $(idpost + " .blog-post-meta").append('<span class="label label-light label-primary">jeje</span> ');

        }
    });
    function upload(e){

        if (!e.files) {
            alert("This browser doesn't seem to support the `files` property of file inputs.");
        }
        else if (!e.files[0]) {
            alert("Porfavor seleccione algún archivo");
        }
        else {
            var formData = new FormData();
            formData.append("filetoupload", e.files[0]);
            $(function (){
               $.ajax({
                   url: '/subir_pic',
                   data: formData,
                   cache: false,
                   contentType: false,
                   processData: false,
                   type: 'POST',
                   success: function(data){
                       $("#preview").html("<img width='auto' class='img-responsive' src='" + data + "' >");
                       $("#avat").val(data);
                       $("#t_princ").val(data);
                       $("#t_princ").addClass("hidden");
                   }
               })
            });
        }

    }
</script>

</body>
</html>