



<footer class="blog-footer">

    <div id="links">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <i class="material-icons brand">&#xE871;</i>
                    <p> Versión 1.02</p>
                </div>

                <div class="col-sm-8 text-center offset">
                    <ul class="list-inline">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Privacidad</a></li>
                        <li><a href="#">Documentation</a></li>
                    </ul>
                </div>

                <div class="col-md-2 text-right offset">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>

<button class="material-scrolltop primary" type="button"></button>
<!-- Modals -->
<div class="modal fade" id="aa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">Crear Post</h2>
            </div>
            <form action="/post/add" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="tit" id="t_princ" class="form-control" placeholder="" required>
                        <select id="catego" class="form-control hidden" name="cat" required>
                            <option value="" disabled selected>Selecciona una categoría</option>
                            <option value="18">Fin de la Pobreza</option>
                            <option value="78">Acción por el Clima</option>
                            <option value="71">Agua limpia y saneamiento</option>
                            <option value="82">Alianzas para lograr Objetivos</option>
                            <option value="76">Ciudades y comunidades Sostenibles</option>
                            <option value="69">Educación de Calidad</option>
                            <option value="72">Energía asequible y no contaminante</option>
                            <option value="67">Hambre Cero</option>
                            <option value="70">Igualdad de Género</option>
                            <option value="74">Industria Innovación e infraestructura</option>
                            <option value="81">Pas justicia e Instituciones solidas</option>
                            <option value="77">Producción y consumo responsable</option>
                            <option value="75">Reducción de Desigualdades</option>
                            <option value="68">Salud y Bienestar</option>
                            <option value="73">Trabajo Decente y crecimiento económico</option>
                            <option value="80">Vida de Ecosistemas terrestres</option>
                            <option value="79">Vida submarina</option>
                        </select>
                        <textarea type="text" name="texto" class="hidden" id="editor"></textarea>
                    </div>
                </div>
                <div class="modal-footer">

                    <div class="form-group form-inline">

                        <input type='text' class='form-control' name='tags' id="tag" value="" placeholder="tags (Ej: tag1, tag2, tag3)">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" id="tipo" name="tipo" value=""  class="btn btn-primary">+ Post</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link href="/assets/css/jquery-te-1.4.0.css" rel="stylesheet">
<script src="/assets/js/jquery-te-1.4.0.min.js"></script>
<script src="/assets/js/ripples.min.js"></script>
<script src="/assets/js/material.min.js"></script>
<script src="/assets/js/material-scrolltop.js"></script>
<script src="/assets/js/main.js"></script>

<script type="text/javascript">
    var quill = false;
    $(document).on("click", ".poster", function() {
        var data = {};
        data.tipo = $(this).data('tipo');
        $(".modal-footer #tipo").val(data.tipo);
        switch(data.tipo) {
            case 1:
                $("#t_princ").attr("placeholder","Paz Mundial");
                break;
            case 2:
                $("#t_princ").attr("placeholder","Título");

                break;
            case 3:
                $("#t_princ").attr("placeholder","Url Imagen");
                break;
            case 4:
                $("#t_princ").attr("placeholder","Url Video (sólo youtube)");
                break;
            default:
                status = "inactivo";
        }
        if(parseInt(data.tipo) > 1){
            $(".modal-body #catego").removeClass("hidden");
            if(!quill){
                $("#editor").jqte({
                    color: false,
                    source: false,
                    sub: false,
                    sup: false,
                    strike: false,
                    indent: false,
                    format: false,
                    outdent: false
                });
                quill = true;
            }
        } else {
            $(".modal-body #catego").addClass("hidden");
            if(quill){
                $("#editor").jqte({
                    color: false,
                    source: false,
                    sub: false,
                    sup: false,
                    strike: false,
                    indent: false,
                    format: false,
                    outdent: false
                });
            }
            quill = false;
        }
    });
    $(":input.hidden").each(function (j) {
        var tagger = $(this).val();
        var idpost = "#" + $(this).data('id');
        tagger = tagger.split(",");
        for(var i = 0; i < tagger.length;i++){
            if(tagger[i] != "")
            $(idpost).append('<span class="label label-light label-primary">' + tagger[i] + '</span> ');
        }
    })
    $.material.init();
    $('body').materialScrollTop();
</script>

</body>1
</html>