<footer class="blog-footer">

    <div id="links">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <i class="material-icons brand">&#xE871;</i>
                    <p> Versión 2.2</p>
                </div>

                <div class="col-sm-8 text-center offset">
                    <ul class="list-inline">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="https://www.observaciudadania.org/">Sobre Nosotros</a></li>
                    </ul>
                </div>

                <div class="col-md-2 text-right offset">
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/observaciudadania"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/observaciudadania"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/observaciudadania/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCRk_2lqkIE8WENW1hRLzZNA"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>

<link href="/assets/css/jquery-te-1.4.0.css" rel="stylesheet">
<script src="/assets/js/jquery-te-1.4.0.min.js"></script>
<script src="/assets/js/ripples.min.js"></script>
<script src="/assets/js/material.min.js"></script>
<script src="/assets/js/material-scrolltop.js"></script>
<script src="/assets/js/main.js"></script>