<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Observa</title>
</head>

<body>
<h1>Hola ciudadano!</h1>
<p>Has sido inscrito en la plataforma de educación ciudadana para secundarios, para ingresar a esta deberás ingresar al siguiente <a href="app.observaciudadania.org">link</a>
    y completar tu perfil.</p>
<p> Tus credenciales son:</p>
<p> Nombre de Usuario : <%= to%></p>
<a>Tu Contraseña es: <%= password%></a>

</body>
</html>