<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Observa Ciudadania</title>
</head>

<body>
<h1>Hola <%= data.username%>!</h1>
<p>Enviamos este correo para comentarte de que alguien indicó que olvidaste tu contraseña de Observa Ciudadanía. Si esa persona no fuiste tú, olvida este mail, por otro lado haz click
    en el siguiente link para recuperar tu contraseña. "<a href="app.observaciudadania.org/reset_pass/<%= link%>">app.observaciudadania.org/reset_pass/<%= link%></a>"</p>

</body>
</html>