<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Observa Ciudadania</title>
</head>

<body>
<h1>Felicitaciones Ciudadano/a!</h1>
<p>Te escribimos para informarte uno de tus aportes fue aceptado y ahora eres integrante del proyecto "<a href="app.observaciudadania.org/lab/proy/get/<%= data.idproyecto%>"><%= data.titulo%></a>"</p>

<p>Accede al <a href="app.observaciudadania.org/lab/intern/<%= data.idproyecto%>">muro interno</a> del proyecto y conoce a tu nuevo equipo.</p>
<p>Desde ahora también podrás crear actualizaciones en el muro público del proyecto.</p>

</body>
</html>